<!-- 相当于给模板定义一个名字, define end 必须成对出现 -->
{{ define "default/index.html" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/base.css">
        <title>首页</title>
    </head>
    <body>
    {{ template "public/page_header.html" .}}
    <h2>{{.title}}</h2>
    <img src="/static/images/test.png">
    <!-- 定义变量 把后台的变量赋值给$t -->
    {{ $t := .title}}
    <!-- 显示$t -->
    <h4> {{ $t }}</h4>
    <!-- if判断 -->
    {{if gt .score 90}}
        <div>优秀</div><br/>
    {{else if gt .score 80}}
        <div>良好</div><br/>
    {{else if gt .score 70}}
        <div>可以</div><br/>
    {{ else }}
        <div>合格</div><br/>
    {{end}}
    <!-- 循环数据 -->
    <ul>
        <!-- 循环切片 -->
        {{range $k, $v := .hobby}}
            <li>{{$k}} => {{$v}}</li>
        {{end}}
    </ul>
    <ul>
        <!-- 循环结构体 -->
        {{range $k, $v := .newList}}
            <li>{{$k}} => {{$v.Title}} --- {{$v.Content}}</li>
        {{end}}
    </ul>
    <ul>
        <!-- 循环空数组/切片 判断 -->
        {{range $k, $v := .testSlice}}
            <li>{{$k}} => {{$v.Title}} --- {{$v.Content}}</li>
        {{else}}
            <li>空数据</li>
        {{end}}
    </ul>
    <ul>
        <!-- with 解析结构体-->
        {{with .news}}
            <li>{{.Title}} => {{.Content}}</li>
        {{end}}
    </ul>
    <h4>
        <!--预定义函数 -->
        {{.title}}的长度为{{len .title}}
    </h4>
    <h4>
        <!--自定义函数 -->
        {{UnixToTime .date}}
        {{Println .title .news.Title}}
    </h4>
    <!-- 嵌套 template -->
    {{ template "public/page_footer.html" .}}
    </body>
    </html>
{{end}}